<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "css/movie.css"%}">
  </head>
  <body>

    <div class="container" align="center">
      <div class="jumbotron">
        <h1>DURGA MOVIEINFO PORTAL</h1>
        <p><strong>Be updated to new released movies....</strong></p>
        <a class="btn btn-primary btn-lg" href="/add" role="button">Add Movie</a>
        <a class="btn btn-primary btn-lg" href="/list" role="button">Search Movielist</a>
      </div>

    </div>

  </body>
</html>
